# Backend
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.env
backend/venv/
backend/.venv/
backend/env/
backend/.pytest_cache/
backend/logs/
backend/*.log

# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/dist/
frontend/.next/
frontend/out/
frontend/.env*.local
frontend/.env
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vercel

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db 